[Unit]
Description=Subs daemon

[Service]
User=<ANY USER YOU WANT>
Environment="PYTHONPATH=."
ExecStart=/usr/bin/python run.py
WorkingDirectory=<DIR TO SYNCSUB>

[Install]
WantedBy=multi-user.target
